//----------//
//   blog   //
//----------//

.blog {
    .large-8 { padding: 0; }
    .large-8 article { 
        @extend .row.no-margin; 
        margin-bottom: 0;
        @extend .border-bottom; 
        @extend .padding; 
        padding-bottom: 30px;
    }
}

.article-picture {
    max-width: 591px;
    max-height: 217px;
    margin-bottom: 20px;
}