@import 'compass'; //utilisation des mixins
// ex : @include border-radius(5px);

// CSS du design ici.

// color 

.row .row { margin-top: 20px; }

body { font-family: 'Open Sans', sans-serif; }

h1 {
    display: block;
    font-family: 'Poiret One', cursive;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    background-color: #EC572C;
    color: #fff;
    //border-bottom: 2px solid #eee;
    margin: 20px 0 5px;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
}

h3 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    color: #222;
    font-weight: normal;
    margin-top: 0;
}

h4 {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    font-style: italic;
}


h5 {
    @extend h3;
    font-weight: 600;
    color: #0083ca;
}

p {
    @extend h4;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    margin-bottom: 0;
}

hr { border-color: #EC572C; margin: 0; }

li { list-style-type: none; }

.intro { 
    h3, p { margin-bottom: 0; }
    .large-3 { width: 17%; }
    .large-9 { width: 83%; }
}
.share img { width: 34px; height: 34px; margin-right: 20px; }
.row .row.list { margin-top: 0; margin-bottom: 6px;}

.align-right .large-4,
.align-right .large-6:nth-child(1) { text-align: right; }

.margin-top, .row.margin-top, .row .row.margin-top { margin-top: 40px; }

.profil-pic img { border: 1px solid #EC572C; margin-right: 30px; }

