
<nav class="container header nav">
    <div class="row">
        <ul>
            <li id="accueil" class="active"><a href="/">Accueil</a></li>
            <li id="reconversion"><a href="/reconversion.html">reconversion professionnelle<span>Les 5 étapes clés</span></a></li>
            <li id="annuaire"><a href="/annuaire.html">Accompagnement <span>Conseils, coaching</span></a></li>
            <li id="outils"><a href="/outils.html">outils <span>aide à la décision</span></a></li>
            <li id="blog"><a href="/blog.html">Blog <span>informations, Analyses</span></a></li>
            <li class="last" id="quisommesnous"><a href="/quisommesnous.html">Cap Cohérence<span>Qui sommes-nous ?</span></a></li>
        </ul>
    </div>
</nav>


<footer class="container">
    <div class="row padding">
        <div class="large-6 columns">
            <p class="last">© Copyright Cap Cohérence</p>
        </div>
        <div class="large-6 columns text-right footer nav">
            <ul>
                <li><a href="#temoignageclient">Témoignages clients</a></li>
                <li><a href="#mentionslegales">Mentions légales</a></li>
                <li><a class="last" href="#CGV">C.G.V</a></li>
            </ul>
        </div>
    </div>
</footer>

<div class="container header footer">
    <div class="bande left"></div>
    <div class="bande"></div>
    <div class="bande right"></div>
</div>