<header class="container header">
    <div class="bande left"></div>
    <div class="bande"></div>
    <div class="bande right"></div>
    <div class="row">
        <div class="logo-header">
            <figure class="logo"></figure>
            <h1>Cap<span>Cohérence</span></h1>
            <h2>Réussissez votre Reconversion Professionnelle !</h2>
        </div>
        <div class="share">
            <a class="twitter" href="#twitter"></a>
            <a class="facebook" href="#facebook"></a>
            <a class="mail" href="#mail"></a>
        </div>
    </div>
</header>


<nav class="container header nav">
    <div class="row">
        <ul>
            <li id="accueil" class="active"><a href="/homepage.html">Accueil</a></li>
            <li id="reconversion"><a href="/reconversion.html">reconversion professionnelle<span>Les 5 étapes clés</span></a></li>
            <li id="annuaire"><a href="/annuaire.html">Accompagnement <span>Conseils, coaching</span></a></li>
            <li id="outils"><a href="/outils.html">outils <span>aide à la décision</span></a></li>
            <li id="blog"><a href="/blog.html">Blog <span>informations, Analyses</span></a></li>
            <li class="last" id="quisommesnous"><a href="/quisommesnous.html">Cap Cohérence<span>Qui sommes-nous ?</span></a></li>
        </ul>
    </div>
</nav>