---
title: hello
---

<div class="row intro">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-9 columns">
                <h2>Le Merdy Godefroy</h2>
                <div class="row list">
                    <div class="large-3 columns">
                        <h3>Adresse</h3>
                    </div>
                    <div class="large-9 columns">
                        <p>1 Allée du commandant Dagnaux,<br>78560 - Le Port-marly</p>
                    </div>
                </div>
                <div class="row list">
                    <div class="large-3 columns">
                        <h3>Email</h3>
                    </div>
                    <div class="large-9 columns">
                        <p>godefroy.lemerdy@gmail.com</p>
                    </div>
                </div>
                <div class="row list">
                    <div class="large-3 columns">
                        <h3>Tel</h3>
                    </div>
                    <div class="large-9 columns">
                        <p>06 18 46 15 74</p>
                    </div>
                </div>
                <div class="row list">
                    <div class="large-3 columns">
                        <h3>Me trouver</h3>
                    </div>
                    <div class="large-9 columns share">
                        <img src="/images/picto-viadeo.png" /><img src="/images/picto-linkedin.png" />
                    </div>
                </div>
            </div>
            <div class="large-3 columns profil-pic">
                <img src="/images/godefroy.jpg" />
            </div>
        </div>
    </div>
</div>
    
<div class="text-center">
        <h1>Formations</h1>
        <hr>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-3 columns">
                <h3>Ingénieur généraliste</h3>
                <h4>Septembre 2009 - Septembre 2012</h4>
            </div>
            <div class="large-9 columns">
                <h5>école Centrale Marseille</h5>
                <p>Diplômé en Novembre 2012</p>
                <p>Domaines d’étude : Gestion de projet ingénierie industriel, Management et pilotage de projet, Management Intégré, de l’innovation, des équipes.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <h3>Classe préparatoire</h3>
                <h4>Septembre 2007 - Juin 2009</h4>
            </div>
            <div class="large-9 columns">
                <h5>Math SUP et Math SPE</h5>
                <p>filière TSI au Lycée Richelieu (92500)</p>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <h3>Baccalauréat</h3>
                <h4>Septembre 2005 - Juin 2007</h4>
            </div>
            <div class="large-9 columns">
                <h5>Sciences et technologies industrielles Génie électronique</h5>
                <p>Mention bien - Lycée Saint Erembert (78100)</p>
            </div>
        </div>
    </div>
</div>


<div class="text-center margin-top">
        <h1>Expériences</h1>
        <hr>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-3 columns">
                <h3>SLEEDE SAS</h3>
                <h4>Mai 2011 - Mai 2013</h4>
            </div>
            <div class="large-9 columns">
                <h5>Direction générale, fondateur</h5>
                <p>Société créée avec 2 associés dans le but de développer un logiciel permettant de propulser des sites Internet et flyer digitaux.</p>
                <p>C'est aussi une agence web grenobloise – 72k€ CA de juin 2012 à Juin 2013, 1 salarié.</p>
                <p>www.sleede.com</p>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <h3>Red Bull</h3>
                <h4>Septembre 2010 - Février 2012</h4>
            </div>
            <div class="large-9 columns">
                <h5>Brand Manager secteur étudiant</h5>
                <p>Ce poste s'inscrit dans la statégie du consumer collecting dans le but de sponsoriser le milieu étudiant, de créer des occasions de consommation et de positionner la marque.</p> 
                <p>J'ai  notamment organisé une conférence sur le métier de pilote de formule 1 avec Jean Eric Vergne et son ingénieur. Le succès de celle-ci a amené Red Bull à l’intégrer dans sa stratégie et ce format est repris régulièrement.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <h3>Grand Port Maritime de Marseille</h3>
                <h4>Mai 2010 - Février 2011</h4>
            </div>
            <div class="large-9 columns">
                <h5>Chef de projet multidisciplinaires</h5>
                <p>Manager de 4 ingénieurs dans le but d’implanter des hydroliennes sur le Rhône. Nous avons réalisé l'étude de la technologie, l'installation ainsi que la valorisation de cette structure débouchant sur un Avant Projet Sommaire.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <h3>KSI - Junior Entreprise</h3>
                <h4>Septembre 2009 - Février 2011</h4>
            </div>
            <div class="large-9 columns">
                <h5>Responsable du pôle projet</h5>
                <p>Réalisation des études du démarchage à la clôture notamment pour le CNRS, Gefco et Orange. J'y ai développé mes compétences en négociation, budgétisation, gestion d’équipe et qualité.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <h3>Associatif : Traversé du vieux port</h3>
                <h4>Octobre 2009 - Juin 2010</h4>
            </div>
            <div class="large-9 columns">
                <h5>Responsable sponsors et animations</h5>
                <p>Compétition organisée par les élèves de Centrale Marseille. Mise en place des supports de communication, recherche des sponsors et partenaires.</p>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top">
    <div class="large-6 columns align-right">
        <h1>Langues</h1>
        <hr>
        <div class="row list margin-top">
            <div class="large-4 columns">
                <h3>Anglais</h3>
            </div>
            <div class="large-8 columns">
                <p>Courant parlé et écrit<br>FCE et TOEIC : 880</p>
            </div>
        </div>
        <div class="row list">
            <div class="large-4 columns">
                <h3>Chinois</h3>
            </div>
            <div class="large-8 columns">
                <p>débutant</p>
            </div>
        </div>
    </div>
    <div class="large-6 columns align-right">
        <h1>Informatique</h1>
        <hr>
        <div class="row list margin-top">
            <div class="large-4 columns">
                <h3>Office</h3>
            </div>
            <div class="large-8 columns">
                <p>Word, Excel, Powerpoint</p>
            </div>
        </div>
        <div class="row list">
            <div class="large-4 columns">
                <h3>Web</h3>
            </div>
            <div class="large-8 columns">
                <p>HTML5, CSS3, Javascript, ruby</p>
            </div>
        </div>
        <div class="row list">
            <div class="large-4 columns">
                <h3>Design</h3>
            </div>
            <div class="large-8 columns">
                <p>Photoshop, Illustrator</p>
            </div>
        </div>
    </div>
</div>


<div class="text-center margin-top">
        <h1>Activités</h1>
        <hr>
</div>

<div class="row">
     <div class="large-12 columns align-right">
        <div class="row list margin-top">
            <div class="large-6 columns">
                <h3>Séjours linguistiques</h3>
            </div>
            <div class="large-6 columns">
                <p>Malte (2 semaines); Etats Unis, Oklahoma (2 mois)</p>
            </div>
        </div>
        <div class="row list">
            <div class="large-6 columns">
                <h3>Nombreux voyages</h3>
            </div>
            <div class="large-6 columns">
                <p>USA, Brésil, Inde, Emirats Arabes Unis, Angleterre</p>
            </div>
        </div>
        <div class="row list">
            <div class="large-6 columns">
                <h3>Sports</h3>
            </div>
            <div class="large-6 columns">
                <p>Snowboard, ski, basket, tennis, voile</p>
            </div>
        </div>
        <div class="row list">
            <div class="large-6 columns">
                <h3>Permis</h3>
            </div>
            <div class="large-6 columns">
                <p>auto B et véhiculé, mer hauturier</p>
            </div>
        </div>
    </div>
</div>
