---
title: homepage
---

<section class="container">
    <div class="row padding">
        <h2>nous accompagnons votre reconversion professionnelle !</h2>
        <hr>
        <div class="landing">
            <div class="caption">
                <h3>la plateforme dédiée à</h3>
                <h1>Votre reconversion professionnelle</h1>
                <p>Vous y trouverez de l'information de qualité, des professionnels de l'accompagnement, et des outils d'e-coaching</p>
                <a class="button yellow" href="#decouvrir">Découvrir</a>
            </div>
        </div>
    </div>
</section>


<section class="container">
    <div class="row">
        <div class="large-4 columns text-center padding">
            <figure class="small info"></figure>
            <h3>Informer</h3>
            <p>Pour tout savoir sur la reconversion professionnelle !</p>
            <a href="#decouvrir">Découvrir</a>
        </div>
        <div class="large-4 columns text-center border-center padding">
            <figure class="small link"></figure>
            <h3>écouter et mettre en relation</h3>
            <p>Un réseau de professionnels à votre écoute ! Une communauté de reconvertis prête à vous épauler !</p>
            <a href="#decouvrir">Découvrir</a>
        </div>
        <div class="large-4 columns text-center padding">
            <figure class="small person"></figure>
            <h3>accompagner</h3>
            <p>Conseils, coaching, outils : choisissez votre mode d'accompagnement</p>
            <a href="#decouvrir">Découvrir</a>
        </div>
    </div>
</section>


<section class="container">
    <div class="row padding">
        <h2>nos coachs et consultants partenaires</h2>
        <hr>
        <div class="large-4 columns first">
            <p>Parce qu'un accompagnement de qualité mené par un professionnel formé et expérimenté est le meilleur atout dont vous pouvez disposer en matière de reconversion, nous avons sélectionné pour vous des coachs et consultants partenaires qui sont à votre écoute.</p>
            <p class="last">Le processus de sélection est exigeant, si vous avez confiance en nous, vous pouvez avoir confiance en eux !</p>
        </div>
        <div class="large-4 columns presentation-coach">
            <div class="photo">
                <img src="/images/photo-coach.png" />
            </div>
            <hgroup class="title">
                <h4>Charly<span>Jucquin</span></h4>
                <h3>coach</h3>
            </hgroup>
            <p>Vous voulez changer de situation professionnelle ? Vous hésitez à passer à l'action ou entre plusieurs idées?</p>
        </div>
        <div class="large-4 columns last presentation-coach">
            <div class="photo">
                <img src="/images/photo-coach.png" />
            </div>
            <hgroup class="title">
                <h4>Charly<span>Jucquin</span></h4>
                <h3>coach</h3>
            </hgroup>
            <p>Vous voulez changer de situation professionnelle ? Vous hésitez à passer à l'action ou entre plusieurs idées?</p>
        </div>
        <div class="large-8 columns right">
        <a class="right" href="/annuaire.html">Tous les coachs</a>
    </div>
    </div>
</section>

<section class="container">
    <div class="row padding">
        <h2>notre spécialité : l'e-coaching !</h2>
        <hr>
        <div class="large-12 columns banner-cap-idc text-center">
            <h1>Découvrez l'outil de coaching cap-idc</h1>
            <h2>Un outil puissant pour vous mettre sur la voie et vous aidez à décider !</h2>
            <a class="button black arrow" href="#lancez-vous">Lancez vous</a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns slider text-center">
            <div class="row no-border padding-bottom">
                <div class="large-1 columns left-button"></div>    
                <quote class="large-8 large-offset-1 columns">
                    <p class="last">J’ai trouvé dans cet outil, toutes les questions indispensables à une réflexion pertinente sur mon avenir que je n’avais pas su me poser tout seul. Merci Cap Cohérence !</p>
                    <h5>Loïc</h5>
                </quote>
                <div class="large-1 large-offset-1 columns right-button"></div>
            </div>     
        </div>
    </div>
</section>


<section class="container">
    <div class="row padding">
        <h2>Nos derniers articles</h2>
        <hr>
        <div class="large-12 columns">
            <div class="row no-border">
                <div class="large-4 columns first">
                    <h5>Suivi de la pratique</h5>
                    <p class="last">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    <a href="#se-reconvertir">Se reconvertir</a>
                </div>
                <div class="large-4 columns border-center">
                    <h5>Suivi de la pratique</h5>
                    <p class="last">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    <a href="#se-reconvertir">Se reconvertir</a>
                </div>
                <div class="large-4 columns last">
                    <h5>Suivi de la pratique</h5>
                    <p class="last">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                    <a href="#se-reconvertir">Se reconvertir</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row padding newsletter">
        <div class="large-12 columns bg-grey">
            <div class="row no-border padding">
                <div class="large-5 columns">
                    <h5>Lorem Ipsum</h5>
                    <p class="last">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...</p>
                </div>
                <div class="large-2 columns">
                    <figure class="small mail"></figure>
                </div>
                <div class="large-5 columns">
                    <form>
                        <input type="mail" nane="mail">
                        <input type="submit" class="button black submit" value="ENVOYEZ" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



